<h2 class="center">
Want A Little Background Music?<br>Check out this Feel The Bern Song!<br>Purchase the song at <a href="http://www.bernforlove.com/home/song" target="_blank">bernforlove.com</a> to support our work.
</h2><br>
<div class="center" id="song">
	<iframe width="100%" height="75" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/252027124&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</div>
<br><br>
<h1>
	The #Go<span id="green">Green</span>619 Strategy
</h1>
<h2 class="center">
	(Watch The Video!)
</h2>
<br>
<div id="count">
	<h2 class="number">
		Total Number of Pledge Takers<br>
	</h2>
	<h2 id="num" >
		115,785+
	</h2>
	<h2 class="number">
		(Updated Every Sunday)
	</h2>
</div>
<br>
<div class="vid">
	<iframe width="500" height="330" src="https://www.youtube.com/embed/iyLsAyzEqYM" frameborder="0" allowfullscreen></iframe>
</div>
<br>
<h1>
	Together We Can Win Liberty!
</h1>
<br>
<h2>
	THE PLEDGE: I pledge that if at any moment Bernie is no longer a candidate in the Democratic party, either by concession, or denial of the nomination at the convention, I will immediately change my registration to the Green Party. (See the pledge form below.)
	<br><br>
	After completing the pledge, let us each find ten other Sanders Supporters to take the pledge as well. As we work to find others in our community, we will show our unity, and have evidence of our numbers.
	<br><br>
	<h2 class="rap">
	THIS IS NOT ABOUT THE GREEN PARTY! 
	</h2>
	<h2><br>
	This is a campaign to unify our voices in a way that empowers us to transform our government. 
	<br><br>
	Our first goal is to help the superdelegates understand what is at stake, as millions of us refuse to vote for Hillary Clinton even as she faces Donald Trump, who we also refuse to vote for. Considering the voter suppresion and election fraud, we cannot support the party that has attempted to silence our fundamental right as voters. If the superdelegates do not address this election debacle by nominating Bernie, the Democratic Party will begin to immediately and dramatically shrink. We know the choice of the people is Bernie Sanders. Either they give us our true nominee, or they lose us, and they won't get us back.
	<br><br>
	We don't mind if they force us to make this move if Bernie will agree to run Green. We know that the two party system has not been working for the people, and that a multiparty system will benefit the nation. Establishing any new party would position all other parties and independent candidates to have successful campaigns in all legs of the government in the future.
	<br><br>
	As more of us take the pledge, we will increase our confidence to vote third party, and our numbers, along with the #halfabillion4bernie campaign will encourage Sanders to stay in the race if denied the Democratic nomination.
</h2>
<br>
<h2 class="rap">
	The Bernie or Bust Pledge is sponsored by Revolt Against Plutocracy (RAP). <%= link_to "Click here", "https://citizensagainstplutocracy.wordpress.com" %> to learn more about RAP.
</h2>
<br><br>
<h1 id="formtext">
	Complete The Form Below<br>
	To Take The Pledge
</h1>
<br>
<div id="form">
	<iframe src="https://docs.google.com/forms/d/1ORIBvmyoPmw6mS2vGvtD_lMmgHvacU6XLbLztJMD7-k/viewform?embedded=true" width="1200" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
<br>
<h2 class="center">
	The beauty of this movement has been the people and also the love which has been the primary source of our power and our unity. We thank each of you for your dedication, your open minds, and your brave, expansive hearts. Together we continue to fight for a future to believe in.
</h2>
<br>
<h2 class="rap">
	The Bernie or Bust Pledge is sponsored by Revolt Against Plutocracy (RAP). <%= link_to "Click here", "https://citizensagainstplutocracy.wordpress.com" %> to learn more about RAP.
</h2>
<br><br><br><br><br><br><br><br><br>