<br><br>
<h1>
The #Go<span id="green">Green</span>619 Strategy
</h1>
<br>
<div class="vid">
	<%= video_tag("bernforloves.ogg", controls: true, autobuffer: true, poster: "/images/me.jpg") %>
</div>

<h1>
	The Pledge
</h1>
<br>
<h2>
	I pledge that if at any moment Bernie is no longer a candidae in the Democratic party, either by concession, or denial of the nomination at the convention, I will immediately change my registration to the Green Party. 
	<br><br>
	After completing the pledge, I will find ten other Bernie or Busters to take the pledge as well. As we work to find others in our community, we will see our numbers, and have evidence of our number.
	<br><br>
	I know that the two party system has not been working for the people, and that a multiparty system will benefit the nation. Establishing any new party would position all other parties and independent candidates to have successful campaigns in all legs of the government in the future.
</h2>

