<br><br><br><br>
<h1>
	THE PLEDGE
</h1>
<br>
<p class="gray">
	I pledge that if at any moment Bernie is no longer a candidate in the Democratic party, either because he concedes, or has been denied the nomination at the convention, <br>I will immediately change my registration to the Green Party.
</p>
<br>

<div id="form">
	<iframe src="https://docs.google.com/forms/d/1ORIBvmyoPmw6mS2vGvtD_lMmgHvacU6XLbLztJMD7-k/viewform?embedded=true" width="650" height="1045" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
	<br><br>
<p class="smaller">
<b>
	After completing the pledge, let us each find ten other Sanders Supporters to take the pledge as well. As we work to find others in our community, we will show our unity, and have evidence of our numbers.
	</b>
</p>
<br>
<p class="smaller gray">
	No one should change their registration if they are in closed primary states with downballot elections.
	<br>
	No one should change their registration if they they have a role at the DNC. 
	<br>
	Everyone should take the pledge!
</p>
<br>
<br>
<br>
<div class="border">
	<h1>
		This is not about the Green Party 
		<br><br>
	</h1>
	<h1 class="gray">
	This is a campaign to unify our voices in a way that empowers us to transform our government. 
	</h1>
	<br><br><br>
</div>
<div class="vid">
	<iframe width="1000" height="700" src="https://www.youtube.com/embed/iyLsAyzEqYM" frameborder="0" allowfullscreen></iframe>
</div>
<div class="borders">
	<br>
	<p class="smaller left gray">
		Our first goal is to help the superdelegates understand what is at stake, as millions of us refuse to vote for Hillary Clinton even as she faces Donald Trump, who we also refuse to vote for. Considering the voter suppresion and election fraud, we cannot support the party that has attempted to silence our fundamental right as voters. If the superdelegates do not address this election debacle by nominating Bernie, the Democratic Party will begin to immediately and dramatically shrink. We know the choice of the people is Bernie Sanders. Either they give us our true nominee, or they lose us, and they won't get us back.
	</p>
	<br><br>
	<p class="smaller left gray">
		We don't mind if they force us to make this move if Bernie will agree to run Green. We know that the two party system has not been working for the people, and that a multiparty system will benefit the nation. Establishing any new party would position all other parties and independent candidates to have successful campaigns in all legs of the government in the future.
	</p>
	<br><br>
	<p class="smaller left gray">
		As more of us take the pledge, we will increase our confidence to vote third party, and our numbers, along with the #halfabillion4bernie campaign will encourage Sanders to stay in the race if denied the Democratic nomination.
	</p>
</div>
<p>
	Want A Little Background Music?
	<br>
	Listen To This Feel The Bern Song!
	<br>
	Purchase the song at <a href="http://www.bernforlove.com/home/song" target="_blank">bernforlove.com</a> to support our work.
</p>
<br>
<br>
<div class="borders">
	<p class="smaller gray">
		The beauty of this movement has been the people and also the love.<br> These have been the primary source of our power and our unity. <br>We thank each of you for your dedication, your open minds, and your brave, expansive hearts. 
	</p>
	<br>
	<h1>
		Together we continue to fight for a future to believe in.
	</h1>
	</p>
</div>
<p>
	The Bernie or Bust Pledge is sponsored by Revolt Against Plutocracy (RAP).
	<br>
	<%= link_to "Click here", "https://citizensagainstplutocracy.wordpress.com" %> to learn more about RAP.
</p>