// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: black;
}

#banner {
	width: 100%;
	height: 300px;
	text-align: center;
}

.vid {
	width: 500px;
	margin: auto;
	border: 3px solid green;
	padding-top: 4px;
}

h1 {
	color: white;
	font-size: 54px;
	width: 1000px;
	margin: auto;
	text-align: center;
	font: arial;
}

h2, #song {
	color: white;
	font-size: 20px;
	width: 1000px;
	margin: auto;
}

.center {
	text-align: center;
}

#green {
	color: green;
}

#form {
	width: 1200px;
	margin: auto;
}

#formtext {
	font-size: 36px;
}

a {
	color: white;
}

#rap {
	color: green;
}

#button {
	width: 250px;
	z-index: -10;
}

#count {
	position: fixed;
	top: 510px;
	right: 50px;
	width: 275px;
	height: 75px;
	border: 3px solid white;
	background: green;
	padding: 3px;
	margin: auto;
}

#num {
	width: 275px;
	text-align: center;
}
.number {
	color: black;
	width: 275px;
	text-align: center
}