<!DOCTYPE html>
<html>
<head>
  <title>Bernieorbust</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<img id="banner" src="/images/bannera.jpg">

<%= yield %>

</body>
</html>
